
.cardioOne {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
    color : beige;
    background-color: #765ac4;
    padding: 50px;
    width: auto;

}

.heartimage{
    text-align: center;
    width: 100%;
}

.mutu{
    max-width: 100%;
    height: auto;

}

.staff{
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color : beige;
    background-color: #4596af;
    padding: 20px;
    width: auto;
    border: 5px;
    padding: 5px;
    margin: 0%;

}

.doctors{
    display : flex;
    justify-content: space-between;
    padding: 10px;
}


.name{
    display: flex;
    justify-content: space-between;
    font-family:  "Anton SC", sans-serif;
    font-weight: Medium;
    font-style: normal;
    font-size: 18px;
    color: blue;

}

h2{
    font-size: 50px;
    align-items: center;
    color: rgb(163, 30, 52);
    font-family:  "Anton SC", sans-serif;
    text-align: center;
}

.form{
    grid-column: 3;
    grid-row: 2/5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: medium;
    
}



.dimag{
    max-width: 100%;
    height: auto;

}


.neuroOne {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
    color : beige;
    background-color: #765ac4;
    padding: 50px;
    width: auto;

}


.dimagDoctors{
    display : flex;
    justify-content: space-between;
    padding: 10px;
}

.dimagimage{
    text-align: center;
    width: 100%;
}


.haddi{
    max-width: 100%;
    height: auto;

}


.haddiimage{
    text-align: center;
    width: 100%;
}


.haddiDoctors{
    display : flex;
    justify-content: space-between;
    padding: 10px;
}


.foksoimage{
    text-align: center;
    width: 100%;
}


.foksoDoctors{
    display : flex;
    justify-content: space-between;
    padding: 10px;
}


.fokso{
    max-width: 100%;
    height: auto;

}



/* styles.css */
.navigationbar {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Anton SC", sans-serif;;
}

.extrapages {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.extrapages li {
    margin-right: 20px;
}

.extrapages li:first-child {
    margin-right: auto;
}

.extrapages a {
    color: yellow;
    text-decoration: none;
    padding: 10px 10px;
}

.extrapages li:first-child a {
    background-color: lightyellow;
    color: black;
    border-radius: 5px;
    font-size: 1.87em;
}

.extrapages a:hover {
    text-decoration: none;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Make video container take full viewport height */
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Ensure the video covers the entire container */
}

.content-overlay {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    font-family: "Anton SC", sans-serif;
}

.content-overlay p{
    font-size: larger;
}




.card {
    border-radius: 5px;
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .neur {
        border-radius: 5px;
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
} 


  .orth {
        border-radius: 5px;
        background-color: #f44336;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
} 
  .pulm {
        border-radius: 5px;
        background-color: #8d6060; color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;} 


        .departs{
            display: flex;
            justify-content: space-evenly;
        }
 
        .footer {
            Width:auto;
            background-color: rgb(131, 186, 223);
            border:15px yellowgreen;
            padding: 25px;
            Margin: 20px;
            border-radius: 5px;
            color: black;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Anton SC", sans-serif;
        }
        .footer-left {
            display: flex;
            gap: 20px;
        }
        .footer a {
            color: black;
            text-decoration: none;
        }





